<img src="http://2.bp.blogspot.com/-O8WITqyEVJ4/UI_cQRw8LvI/AAAAAAAAFuQ/cj3dNAiY2oQ/s1600/Liverpool-FC-Logo-Minimal-HD-Wallpaper_by_Vvallpaper.Net.jpg" style="width:1400px">
<div class="showbranch">
  	<div>
    Branch Name:
    <label><%=@branch.name%></label>
  </div>
  <div>
    Branch Location:
    <label><%=@branch.location%></label>
  </div>
  <div>
    Branch Number:
    <label> <%=@branch.phone_number%></label>
  </div>
</div>

