<%= form_for @futsal_main do |f|%>
<div class="form-group editgrp">
	<label>Name:</label>
	<%= f.text_field :futsal_name, {:class => 'form-control', :required =>true}%>
	<br>
	<%=f.submit button_name, {:class => 'btn btn-success'} %>

  <%=link_to 'Back',  futsal_mains_path, {:class => 'btn btn-info'}%>
  </div>
<%end%>
