<img src="http://th07.deviantart.net/fs71/PRE/i/2012/049/0/a/steven_gerrard___concentration___by_iconicjemz-d4q4wg0.jpg">
<div class="editgrpmain">
<h3>Edit Futsal</h3>
<%= render 'form', button_name: 'Edit'%>
</div>