<img src="http://accringtonstanley.co.uk/newsite/wordpress/wp-content/uploads/2013/12/Futsal-CKZ.jpg" style="width:100%;">
<div class="main-page-css">
	<h2>Welcome to the world of Futsal.</h2>
<%=link_to 'Please Enter Here',  futsal_mains_path, {:class => 'btn btn-primary'}%>
</div>
