/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
 .main-page-css{
 	position: absolute;
	top: 17%;
	width: 100%;
	text-align: center;
 }
 .main-page-css h2{
 	color: white;
 }

.editgrpmain {
	position:absolute;
  	top:40%;
  	left:54%;
}
.editgrpmain h3{
	text-align: center;
}
.editgrp{
	border: 2px solid #08b;
	padding: 15px;
	
}
.mainDiv{
	width: 500px;
	position: absolute;
	top: 25%;
	left: 45%;
}
table th{
	background: #E3EBED;
	text-align: center;
}

.showbranch{
	border: 2px solid #08b;
	padding: 37px;
	position: absolute;
	top: 36%;
	left: 50%;
}